body {
  @include body-text();
  background-color: $background-color-base;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid;
}

a {
  color: $white;
  text-decoration: none;
  transition: $transition-base;
  &:hover {
    color: $ronchi;
  }
}
