@mixin container() {
  @include max-width($container-width);
  margin: 0 auto;
}

@mixin card() {
  @include border-radius($border-radius-base);
  @include flex(column, center, center);
  @include box-shadow(rgba(0, 0, 0, 0.1), 0, 0, 10px);
  @include padding($padding-base);
  @include max-hw(100%, 100%);
}

@mixin responsive-grid($cols-xs, $cols-sm, $cols-lg) {
  display: grid;
  grid-gap: $spacing-base * 2;
  grid-auto-rows: minmax($size-base, auto);

  @media #{$media-breakpoint-xs} {
    grid-template-columns: repeat($cols-xs, 1fr);
  }

  @media #{$media-breakpoint-sm} {
    grid-template-columns: repeat($cols-sm, 1fr);
  }

  @media #{$media-breakpoint-lg} {
    grid-template-columns: repeat($cols-lg, 1fr);
  }
}

@mixin grid-item() {
  grid-column: span 1;
  grid-row: span 1;
}

@mixin grid-item-xs() {
  grid-column: span 1;
  grid-row: span 1;
}

@mixin body-text() {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
  font-weight: $font-weight-base;
}

@mixin hero-bg() {
  background-color: $background-color-base;
}

@mixin hero-image($heroImage) {
  background-image: url($heroImage);
  background-size: cover;
  background-position: center;
}

@mixin button() {
  background-color: $background-color-secondary;
  color: $text-color-secondary;
  border: none;
  padding: $padding-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  letter-spacing: $letter-spacing-base;
  cursor: pointer;
  transition: $transition-base;
  &:hover {
    background-color: $background-color-secondary;
    color: $text-color-secondary;
  }
  &:focus {
    outline: none;
  }
}

// Flex utils

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

// spacing, height, box shadow, radius utils

@mixin padding($padding) {
  padding: $padding;
}

@mixin margin($margin) {
  margin: $margin;
}

@mixin border($border) {
  border: $border;
}

@mixin max-width($maxWidth) {
  max-width: $maxWidth;
}

@mixin max-height($maxHeight) {
  max-height: $maxHeight;
}

@mixin min-width($minWidth) {
  min-width: $minWidth;
}

@mixin max-hw($maxWidth, $maxHeight) {
  max-width: $maxWidth;
  max-height: $maxHeight;
}

@mixin min-height($minHeight) {
  min-height: $minHeight;
}

@mixin width($width) {
  width: $width;
}

@mixin height($height) {
  height: $height;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin box-shadow($color, $offset, $blur, $spread) {
  box-shadow: $offset $blur $spread $color;
}
