
// Branding colors
$solitude: #E9EDF0;
$black-russian: #171A2D;
$ronchi: #E7B55C;
$stormgrey: #727588;
$pohutukawa: #640A0C;
$bluezodiac: #434752;
$white: #FFFFFF;


// Sizes
$baseUnit: 1rem;

// Typography
$font-family-base: 'Open Sans', sans-serif;

// Font sizes
$font-size-base: $baseUnit;

// Line-height
$line-height-base: 1.5;

// Letter-spacing
$letter-spacing-base: 0;

// Font weights
$font-weight-base: 400;

// Text colors
$text-color: $black-russian;
$text-color-secondary: $white;
$text-color-disabled: $stormgrey;

// Background colors
$background-color-base: $white;
$background-color-secondary: $solitude;
$background-color-disabled: $stormgrey;

// Border colors
$border-color-base: $black-russian;
$border-color-secondary: $ronchi;
$border-color-disabled: $stormgrey;

// Border widths
$border-width-base: 1px;

// Border radius
$border-radius-base: calc($baseUnit / 4);

// Padding
$padding-base: $baseUnit;

// Margin
$margin-base: $baseUnit;

// Shadow
$shadow-base: 0 0 $baseUnit rgba(0, 0, 0, 0.1);

// Opacity
$opacity-base: 1;

// Transitions
$transition-base: all .2.5s;

// Z-index
$z-index-base: 1;

// Spacing
$spacing-base: $baseUnit;

// Sizes
$size-base: $baseUnit;

// conainer width
$container-width: 1200px;

// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Media queries
$media-breakpoint-xs: "(min-width: #{$breakpoint-xs})";
$media-breakpoint-sm: "(min-width: #{$breakpoint-sm})";
$media-breakpoint-md: "(min-width: #{$breakpoint-md})";
$media-breakpoint-lg: "(min-width: #{$breakpoint-lg})";
$media-breakpoint-xl: "(min-width: #{$breakpoint-lg})";  
