.theme-light {
  background-color: $background-color-secondary;
}

.container {
  @include container();
}

.grid-2 {
  @include responsive-grid(1, 2, 2);
}

.hero-unit {
  @include hero-image("../images/ben-den-engelsen-UFwW97AP0LI-unsplash.jpg");
  color: $white;
}

.industry-section {
  padding: $padding-base * 4;
}
.industry {
  margin-bottom: $padding-base * 4;
}

.grid-3 {
  @include responsive-grid(1, 2, 3);
}

.cta {
  @include flex(column, center, center);
  @include max-width(100%);
  @include body-text();
  background-color: $background-color-secondary;
  padding-bottom: $padding-base * 4;
}

.main-content {
  @include max-width(100%);
  @include body-text();
  padding: $padding-base * 4;
}

.video-wrapper {
  padding: $padding-base * 4;

  video {
    margin: 0px auto;
    @include max-width(100%);
    width: 100%;
    display: block;
    object-fit: fill;
  }
}

.footer {
  @include flex(column, center, center);
  @include max-width(100%);
  @include body-text();
  background-color: $border-color-base;
  color: $white;
  padding: $padding-base * 4;
}
