.container {
  @include container();
}

.hero-unit {
  @include bg-image("../images/forestroad.webp");
  @include responsive-padding();
  .title{
    @include h1();
  }

  .hero-header {
    @include flex(row, flex-end, flex-end);
    margin-bottom: $padding-base * 2;

    @media #{$media-breakpoint-mobile} {
      @include flex(column, center, center);
    }
  }

  .grid-2 {
    @include responsive-grid(1, 2, 2);
    @media #{$media-breakpoint-mobile} {
      @include text-align(center);
    }
  }
}

.grid-section {
  @include responsive-padding();
  select {
    margin-bottom: $padding-base * 2;
  }

  .grid-3 {
    @include responsive-grid(1, 2, 3);

    [data-industry] {
      @include bg-blend(overlay);
      @include bg($background-color-sextiary);
      @include text-align(left);
    }

    [data-industry="manufacturing"] {
      @include bg-image("../images/manufactor.webp");
    }

    [data-industry="mining"] {
      @include bg-image("../images/mining.webp");
    }

    [data-industry="aviation"] {
      @include bg-image("../images/aviation.webp");
    }
  }
}

.cta-section {
  @include flex(column, center, center);
  @include section-default();
  padding-top: 0;
  .title{
    @include h3();
  }
}

.main-section {
  @include section-default();
  .title{
    @include h2();
  }
}

.video-section {
  @include section-default();
  video {
    margin: 0px auto;
    width: 100%;
  }
}

.footer-section {
  // @include flex(column, center, center);
  @include section-default();
  .title{
    @include h5();
  }
  .link{
    @include margin(16px, auto);
  }

  .grid {
    @include grid();

    @media #{$media-breakpoint-mobile} {
      @include grid(repeat(1, 1fr));
    }

    .grid-item-3 {
      @include grid-item(3, 0);
      @include text-align(left);
      @media #{$media-breakpoint-mobile} {
        @include grid-item(12, 0);
      }
      .flex {
        @include flex(column, flex-start, left);
        .flex-item {
          @include margin(calc($margin-base / 2), 0);
        }
      }
    }

    .grid-item-6 {
      @include grid-item(6, 0);
      @include text-align(left);

      .flex {
        @include flex(row, center, left);
        flex-wrap: no-wrap;

        @media #{$media-breakpoint-mobile} {
          @include flex(column, center, center);
        }

        @media #{$media-breakpoint-mobile} {
          flex-wrap: wrap;
          @include margin(16px, auto);
        }
        .flex-item {
          @include flex-item(1, 2, 0);
          @include text-align(left);
          margin-right: $margin-base;
          @media #{$media-breakpoint-mobile} {
            @include margin(16px, auto);
          }
        }
        @media #{$media-breakpoint-mobile} {
          .btn-primary {
            @include margin(16px, auto);
          }
        }
      }
    }
  }
}
