body {
  @include body-text();
  background-color: $background-color-base;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid;
}

// needed to pass accessability checks
a,
a:link,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: $ronchi;
}

.sr-only {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  // display: none;
  visibility: hidden;
  // opacity: 0;
  transition: all 0.3s ease-in-out;

  &.active {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  &.inactive {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &.fade-in {
    opacity: 1;
  }
  &.fade-out {
    opacity: 0;
  }
}

.modal-content {
  @include container();
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  background-color: $white;
  border-radius: 5px;
  padding: 1rem;
  overflow: auto;
  transition: all 0.3s ease-in-out;
  &.fade-in {
    opacity: 1;
  }
  &.fade-out {
    opacity: 0;
  }
}

.modal-body {
  padding: 2rem;
  @include container();
}

.form-horizontal {
  @include container();
  margin-top: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 1rem;
  border-bottom: 1px solid $border-color-base;
}

.close{
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: $text-color-secondary;
  text-shadow: 0 1px 0 $text-color-secondary;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.show-modal {
    // display: block;
    visibility: visible;
    opacity: 1;

}
