.badge {
  display: inline-block;
  padding: 0.5rem 1.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: $white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $border-radius-base;
  background-color: rgba($color: #640a0c, $alpha: 0.4);
  border: 2px solid rgba($color: #640a0c, $alpha: 0.8);
}

.btn-primary {
  color: $white;
  background-color: $black-russian;
  text-decoration: none;
  padding: calc($padding-base / 1.3) calc($padding-base * 2.5);
  border-radius: $border-radius-base * 2;
  transition: $transition-base;

  &:hover {
    color: $white;
    background-color: lighten($black-russian, 5%);
    text-decoration: none;
  }

  &--outline {
    background-color: rgba(0,0,0,0);
    border: $border-width-base solid $white;

    &:hover {
      color: $ronchi;
      background-color: transparent;
      border-color: $ronchi;
      text-decoration: none;
    }
  }
}
