<!DOCTYPE html>
<html manifest="assets/assets-manifest.json" lang="en">

<head>
    <title>Thank you</title>
    <meta charset="UTF-8" />
    <%= require('html-loader!./partials/analytics.html').default %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Webpack 5 front end build with cypress and jest" />
    <meta name="keywords" content="webpack, jest, cypress" />
    <meta name="author" content="Steven McSorley" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body class="theme-light thankyou">
    <%= require('html-loader!./partials/noscript.html').default %>
    <div class="container" role="main">
        <!-- Mobile menu-->
  
        <%= require('html-loader!./partials/main-menu.html').default %>
    
          <div class="hero-unit">
            <div
              class="hero-header animate__animated animate__fadeInDown animate__delay-2s"
            >
       
              <div class="mobile-menu-open" js-mobile-menu-button>
                <span class="mobile-menu-open-text sr-only">Menu</span>
                <div class="burger-icon">
                  <span class="burger-icon-line"></span>
                  <span class="burger-icon-line"></span>
                  <span class="burger-icon-line"></span>
                </div>
              </div>
            </div>
            <div class="grid-2">
              <div>
                <h1
                  class="title animate__animated animate__fadeIn animate__delay-0.8s"
                >
                  Thank you
                </h1>
                <p class="animate__animated animate__fadeInUp animate__delay-1s">
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                  tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                  fermentum massa justo sit amet risus.
                </p>
              </div>
            </div>
          </div>
            <div class="main-section">
              
            </div>
</body>

</html>